{% extends 'admin/base_site.html' %}

{% block content %}
  <h1>Approver Interface</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Host Label</th>
        <th>Domain</th>
        <th>TTL</th>
        <th>Record Type</th>
        <th>Record Data</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for record_request in record_requests %}
        <tr>
          <td>{{ record_request.uuid }}</td>
          <td>{{ record_request.host_label }}</td>
          <td>{{ record_request.domain }}</td>
          <td>{{ record_request.ttl }}</td>
          <td>{{ record_request.record_type }}</td>
          <td>{{ record_request.record_data }}</td>
          <td>{{ record_request.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
