name: Dns-policy-operator integration tests

on:
  pull_request:
    paths:
      - 'dns-policy-operator/**'
      - '.github/workflows/integration-test-dns-policy-operator.yaml'
  push:
    branches:
      - main

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      self-hosted-runner: false
      self-hosted-runner-label: "edge"
      juju-channel: 4.0/stable
      provider: lxd
      working-directory: ./dns-policy-operator
