name: Publish charmed-bind to edge

on:
  workflow_dispatch:
    secrets:
      SNAPSTORE_TOKEN:
        required: true

jobs:
  build:
    name: Build snap
    uses: canonical/data-platform-workflows/.github/workflows/build_snap.yaml@v41.1.1
    with:
      path-to-snap-project-directory: ./charmed-bind

  release:
    name: Release snap
    needs:
      - build
    uses: canonical/data-platform-workflows/.github/workflows/release_snap.yaml@v41.1.1
    with:
      path-to-snap-project-directory: ./charmed-bind
      channel: latest/edge
      artifact-prefix: ${{ needs.build.outputs.artifact-prefix }}
    secrets:
      snap-store-token: ${{ secrets.SNAPSTORE_TOKEN }}
    permissions:
      contents: write  # Needed to create git tags
