name: Charmed-dns-policy tests

on:
  pull_request:
    paths:
      - 'charmed-dns-policy/**'
      - '.github/workflows/test-charmed-dns-policy.yaml'
  push:
    branches:
      - main

jobs:
  django-tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres@sha256:5773fe724c49c42a7a9ca70202e11e1dff21fb7235b335a73f39297d200b73a2
        env:
          POSTGRES_PASSWORD: testpassword
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          cd ./charmed-dns-policy/app
          python3 -m pip install --upgrade pip
          pip install --no-cache-dir -r requirements.txt
          export $(xargs < ci/.test-env) && ./manage.py test

  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          pip install ruff

      - name: Run Ruff
        run: |
          ruff check charmed-dns-policy/app/
